#footer {
    background-color: $dark;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    text-decoration: none;
    color: $bright-purple;
}

#footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-menu>div {
    width: 100%;
    text-align: center;
}

#footer-menu>div:not(:last-child) {
    margin-right: 5%;
}

.footer-title {
    font-size: 18px;
}

#footer-disclaimer {
    margin-top: 10px;
    border: 1px solid white;
    padding: 4px 6px 4px 6px;
    width: auto;
    display: inline-block;
}
