{% extends "_shell.html" %}
{% import "_logo-macros.html" as logo %}

{% block title %}{{ config.title }} - The open source, data-driven game engine{% endblock title %}

{% block css %}/landing-page.css{% endblock css %}

{% set wikipedia_ecs = "https://en.wikipedia.org/wiki/Entity%E2%80%93component%E2%80%93system" %}

{% block content %}
<div id="content">
    <div class="page-title dark">
        <div>
            <h1>The Amethyst Game Engine</h1>
            <span class="subtitle">
                Unleach your imagination with the most powerful community made, data-driven game engine
            </span>
        </div>
    </div>
    <div>
        <div class="section separated">
            <div>
                <h2>High Performance</h2>
                <p>
                    Being built entirely on the powerful
                    <a href="https://en.wikipedia.org/wiki/Entity%E2%80%93component%E2%80%93system">entity component system (ECS)</a>
                    architecture, Amethyst has performance that will last you through any project no
                    matter what your plans are. The systems automatically utilize all processing power
                    available, making sure your game stays performant.
                </p>
            </div>
            <div>
                <img class="card" src="/assets/3d_example.jpg" alt="3D Example Screenshot">
            </div>
        </div>
    </div>
    <div>
        <div class="section separated">
            <div>
                <img class="card" src="/assets/2d_example.jpg" alt="2D Example Screenshot">
            </div>
            <div>
                <h2>Built for 2D and 3D</h2>
                <p>
                    No matter if you want to make a 2D or a 3D game, Amethyst has you covered with many
                    utilities and a fast and modular rendering pipeline that works seamlessly with both
                    dimmensions.
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="section separated">
            <div>
                <h2>A Stable Foundation</h2>
                <p>
                    Because Amethyst is made using the
                    <a href="https://rust-lang.org">Rust programming language</a> it can almost
                    garantee that your games will never crash or encounter unpleasant bugs.
                </p>
            </div>
            <div>
                {# TODO: Replace this image #}
                <img class="card" src="/assets/rust_example.jpg" alt="Rust Example Code">
            </div>
        </div>
    </div>
    <div>
        <div class="section">
            <h2>Made by an Open Community</h2>
            <p>
                Amethyst was made by an open and inviting community, having
                <a href="{{ config.extra.github_url_contributors }}">many different contributors</a>.
                The engine and other Amethyst projects are freely available with their source code licensed under the <b>MIT license</b> or
                the <b>Apache 2.0 license</b>.
                <br>
                <br>
                We love new contributors of all types! Check out
                <a href="/contribute">our contributing page</a> if you want to be a part of making
                Amethyst become even greater!
            </p>
        </div>
    </div>
    <div>
        <div class="section center">
            {{ logo::emblem(size=200) }}
            <h2>Get Started Today</h2>
            <p>
                You can easily get started using <a href="/book/master">our book guide</a> which
                goes throgh the basics of creating a game using Amethyst. If you need any help on
                the way, feel free to visit
                <a href="{{ config.extra.forums_url }}">our community forums</a> and
                <a href="{{ config.extra.discord_invite }}">our Discord server</a>!
            </p>
        </div>
    </div>
</div>
{% endblock content %}
